<template name="layout">
	{{> yield region = 'headertolayout'}}
	{{> yield region = 'navbartolayout'}}
	{{> yield region = 'contenttolayout'}}
</template>

<template name="header">	
	<header class="masthead">
		<div class="container-fluid">
			<div class="row">
				<div id="scrolllogo" class="col-sm-3 col-sm-offset-4 text-center">
					<div>
						<h2>Enter the Mats</h2>
						<a data-scroll="news" href="#"><i class="fa fa-chevron-down fa-4x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</header>
</template>

<template name="navbar">	
	<div id="nav">
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="glyphicon glyphicon-bar"></span>
					<span class="glyphicon glyphicon-bar"></span>
					<span class="glyphicon glyphicon-bar"></span>
				</a>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right" style="display: none">
						<li><a href="#">News</a></li>
						<li><a href="#">Athletes</a></li>
						<li><a href="#">Register</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>		
			</div>
		</div><!-- /.navbar -->
	</div>	
</template>

<template name="topnav">
	
</template>

<template name="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<section id="news" data-anchor="news">
					<h2>Content</h2>
					<br />
					<br />
					<br />
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
					totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
					dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
				</section>               
			</div> 
		</div>
	</div>
</template>

