<template name="layout">
	{{> yield}}	
</template>


<template name="index">
	<ul id="menu">
		<li data-menuanchor="firstPage">
			<a href="#firstPage">First slide</a>
		</li>
		<li data-menuanchor="secondPage">
			<a href="#secondPage">Second slide</a>
		</li>
	</ul>

	<div id="fullpage">
		<div id="section0" class="section" data-anchor="firstPage">
			<h1>fullPage.js</h1>
			<a href="#firstPage">First Page</a>
		</div>
		<div id="section1" class="section" data-anchor="secondPage">
			<h1>fullPage.js</h1>
			<p>Create Beautiful Fullscreen Scrolling Websites</p>
		</div>
	</div>
</template>
